@media screen and (max-width: 1024px) {
    .headBar ,.footer{
        width: 1024px;
    }
}
/*共用*/
.comWidth{
    width: 1000px;
    margin:0 auto;
}
.leftArea{
    float: left;
}
.rightArea{
    float: right;
}
.show{
    display: block;
}
.hide{
    display: none;
}
/*topBar*/
.topBar {
    height: 31px;
    background: #f7f7f7;
    line-height: 31px;
}
.collection{
    padding-left: 19px;
    font-weight: bold;
}
.topBar a:hover{
    color: red;
}
/*logo*/
.logoBar{
    height: 85px;
    background-color: #1d7ad9;
}
.logo{
    padding-left: 41px;
    padding-top: 19px;
}
/*search*/
.search-box{
    width:430px;
    padding-top: 23px;
    padding-left: 185px;
}
.search-text{
    width: 350px;
    height: 35px;
    padding: 0 5px;
}
.search-btn{
    width: 70px;
    height: 35px;
    font-size: 14px;
    background-color: #ff8c00;
    color:white;
}
/*购物车*/
.shopCar{
    width: 145px;
    height: 35px;
    line-height: 35px;
    background-color: #ff8c00;
    margin-top: 23px;
    margin-right: 59px;
    color: #ffffff;
}
.shopText{
    display: inline-block;
    font-size: 14px;
    line-height: 35px;
    height: 100%;
    width: 87px;
    border-right:1px solid #e27a00;
}
.shopNum{
    width: 56px;
    height: 14px;
    margin-left: 13px;
    border-left: 1px solid #ff9c01;

}
/*导航*/
.navBox{
    height: 35px;
    background: #1369c0;
    color: #ffffff;
}
.shopClass{
    display: inline-block;
    width: 190px;
    line-height: 35px;
    text-align: center;
    position: relative;
}
.shopClass h3{
    display: inline-block;
    margin-right:11px;
}
.nav{
    line-height: 35px;
}
.nav li{
    float: left;
}
.nav a{
    height: 35px;
    display: inline-block;
    padding: 0 35px;
    color: #ffffff;
}
.nav .active{
    background-color: #4593fd;
}
/*商品弹出列表*/
.shopClass_show{
    background-color: #4593fd;
    margin-top: -1px;
    position: absolute;
    left: 0;
    top: 35px;
    width: 100%;
}
.shopClass_item{
    text-align: left;
    padding: 14px 10px;
    border-bottom: 1px solid #3487f2;
    border-top: 1px solid #5aa1fe;
}
.shopClass_item a{
    color: white;
}
.shopClass_item a:hover{
    text-decoration: underline;
}
.shopClass_item dt{
    height: 22px;
    font-size: 14px;
    font-weight: bold;
}
.shopClass_item>dd{
    -webkit-margin-start: 0px;
}
.shopClass_item .aLink{
    display: inline-block;
    width: 48px;
    height: 20px;
    line-height: 20px;
    margin-left: 10px;
    text-decoration: underline;
    background-color:#1369c0 ;
    border: 1px solid transparent;
    border-radius: 8px;
}
.shopClass_item .aList{
    display: inline-block;
    border: 5px solid transparent;
    border-left: 8px solid #ffffff;
    float: right;
    margin-top: 12px;
}
/*shopClass_item active 状态*/
.shopClass_active{
    background-color: #ffffff;
    border-left: 1px solid #4593fd;
}
.shopClass_active dt{
    background: none;
}
.shopClass_active a{
    color: #000;
}
.shopClass_active .aLink{
    color: #ffffff;
    text-decoration: none;
}
/*弹出菜单*/
.shopClass_list{
    width: 568px;
    border: 1px solid #CCCCCC;
    position: absolute;
    left: 190px;
    top: 35px;
}
.shopList_item{
    width: 500px;
    padding: 10px 0;
    margin: 0 auto;
    border-bottom:1px solid #CCCCCC ;
}
.shopList_item dt{
    text-align: left;
    color: #4b87d9;
    font-weight: bold;
    height: 24px;
}
.shopList_item dd{
    text-align: left;
    padding-left: 40px;
    margin-top: -24px;
}
.shopList_item dd a{
    margin-right: 10px;
}
.shopList_links{
    padding: 15px 0;
}
.shopList_links a{
    color: #ffffff;
    background-color:#2785e6;
    height: 26px;
    line-height: 26px;
    font-size: 12px;
    display: inline-block;
    padding: 0 14px 0 8px;
    margin-right: 10px;
    text-align: left;
}
.banner{
    margin-bottom: 15px;
}
.banner_bar{
    width: 810px;
    height: 434px;
    float: right;
    position: relative;
    overflow: hidden;
}
.imgBox{
    width: 1620px;
    height: 434px;
    position: absolute;
}
.imgBox li{
    float: left;
}
.imgBox img{
    width: 810px;
    height: 434px;
    display: block;
}
.imgNum{
    position: absolute;
    left: 0;
    bottom: 15px;
    width: 100%;
    text-align: center;
}
.imgNum a{
    width: 20px;
    height: 5px;
    overflow: hidden;
    background-color: #ffffff;
    display: inline-block;
    margin: 0 3px;
}
.imgNum a.active{
    background-color: #ff7700;
}
/*商品标题*/
.shopTitle{
    height: 44px;
    line-height: 44px;
    margin-bottom: 15px;
}
.shopTitle h3{
    font-size: 24px;
    line-height: 44px;
    display: inline-block;
    float: left;
    font-weight: normal;
    padding-left: 15px;
}
.shopTitle_pic{
    display: inline-block;
    height: 44px;
    width: 44px;
    line-height: 44px;
    font-size: 22px;
    color: white;
    margin-top: 2px;
    text-align: center;
    float: left;
    background-color:#40d2B1;
}
.more{
    float: right;
    font-family: "宋体";
}
.more:hover{
    text-decoration: underline;
}
/*商品列表*/
.shopList .leftArea{
    display: inline-block;
    width: 190px;
    margin-bottom: 16px;
    float: left;
}
.shopList .rightArea{
    display: inline-block;
    width: 812px;
    height: 396px;
    float: right;
    border: 1px solid #999;
    border-bottom: 3px solid #ff7201;
    margin-left: -4px;
}
/*商品列表-左侧*/
.shopList .leftArea .banner_bar{
    width: 190px;
    height: 400px;
}
.shopList .leftArea .banner_bar img{
    width: 190px;
    height: 400px;
}
/*商品列表-右侧*/
.shop_item{
    width: 202px;
    height: 279px;
    border: 1px solid #999;
    text-align: center;
    margin-left: -1px;
}
.shop_item h3{
    margin-top: 12px;
    font-size: 16px;
}
.shop_item p{
    font-size: 14px;
    color: #f89406;
    line-height: 21px;
}
.shop_img{
    height: 218px;
    text-align: center;
}
.shop_img img{
    width: 202px;
    height: 218px;
}
/*商品列表-小*/
.shopList_bottom{

}
.shopItem_bottom{
    width: 202px;
    height: 116px;
    border: 1px solid #999;
    margin-left: -1px;
    margin-top: -1px;
}
.shopItem_bottomImg{
    width: 95px;
    height: 95px;
    text-align: center;
}
.shopItem_bottomImg img{
    width: 95px;
    height: 116px;
}
.shopItem_text{
    padding: 28px 5px 0;
    width: 97px;
}
.shopItem_text p{
    color: #ff7300;
}
.shopItem_text h3{
    font-size: 16px;
    font-weight: normal;
    color: #181818;
    line-height: 30px;
}
.footer{
    margin-top: 14px;
    height: 100px;
    text-align: center;
    padding-top: 50px;
    background: #d4d4d4;
}
.footer p{
    padding-bottom: 14px;
}
/*产品分类*/
.products .leftArea{
    width: 185px;
    margin-left: -187px;
}
.products .rightArea{
    width: 810px;
}
.products .banner_bar{
    float: none;
}
/*产品分类导航*/
.leftNav{
    width: 100%;
    background-color: #f3f3f3;
    border: 1px solid #d7d7d7;
    float: left;
}
.nav_title{
    height: 34px;
    line-height: 34px;
    font-size: 14px;
    border-bottom:1px solid #d7d7d7;
    text-align: center;
}
.nav_cont{
    padding:0 18px 4px;
    border-bottom: 1px dotted #d7d7d7;
    margin-bottom: -1px;
}
.nav_cont h3{
    font-size: 12px;
    height: 30px;
    line-height: 30px;

}
.navCont_list{
    line-height: 25px;
}
.navCont_list li{
    float: left;
    width: 50%;
}
.vertical li{
    width: 100%;
    float: none;
    padding-left: 10px;
}
.products_title{
    height: 34px;
    margin-top: 7px;
    border-bottom: 1px solid #cccccc;
}
.products_title h3{
    width: 185px;
    height: 34px;
    line-height: 34px;
    border-bottom: 2px solid #096dba;
    text-indent: 9px;
}
/*商品*/
.item{
    width: 25%;
    float: left;
    margin: 20px 0;
    position: relative;
}
.img_item{
    height: 170px;
    text-align: center;
}
.img_item img{
    height: 170px;
}
.item p{
    line-height: 20px;
    padding:0 15px;
}
.item a{
    display: inline-block;
    color: #000000;
}
.item a:hover{
    text-decoration: underline;
}
.money{
    color: #d4105a;

    font-weight: bold;
    padding-top: 10px;
}
.hot{
    width: 36px;
    height: 56px;
    background: url("../img/hot.png") no-repeat;
    position: absolute;
    top: 0;
    right: 0;
}
/*筛选页*/
.screening_box{
    margin-top: 15px;
}
.screening{
    border-bottom: 1px solid #cccccc;
}
.screening dt{
    display: inline-block;
    line-height: 32px;
    width: 74px;
    text-align: right;
    margin-right: 42px;
    float: left;
}
.screening a{
    padding: 2px;
}
.limit{
    display: inline-block;
    width: 55px;
    float: left;
    line-height: 32px;
}
.screening .active{
    background-color: #1d7ad9;
    color: #ffffff;
}
.screening_list{
    line-height: 32px;
    width: 586px;
    float: left;
    -webkit-margin-start:0px;
}
.screening_list li{
    width: 20%;
    float: left;
}
.screen_more{
    border: 1px solid #cccccc;
    height: 23px;
    line-height: 23px;
    margin-top: 4px;
    float: left;
    -webkit-margin-start: 40px;
}
.screen_more p{
    padding:0 14px;
}
.more_pic{
    display: inline-block;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-top-color: #1d7ad9;
    vertical-align: middle;
    margin-left: 5px;
}
.addInfo{
    height: 31px;
    border: 1px solid #cccccc;
    background-color: #f5f5f5;
}
.address{
    width: 100%;
    float: left;
}
.address .add_text{
    float: left;
    line-height: 31px;
    padding:0 12px 6px 0;
}
.addInfo .select{
    margin-top: 4px;
}
.check{
    position: relative;
    top: -1px;
}
.screen_text{
    line-height: 31px;
    padding-right: 80px;
}
.screen_text span{
    vertical-align: middle;
}
.check input, .check label{
    vertical-align: middle;
}
.shop_number em{
    color: #f00;
    font-style: normal;
    font-weight: bold;
}
.addCart{
    border: 1px solid #999;
    height: 22px;
    display: inline-block;
    padding: 0 8px;
    margin: 8px 0;
}
.screening_list_more{
    padding-left: 0.5%;
}
.screening_list_more .item{
    width: 33.3%;
}

/*page*/
.page{
    text-align: center;
}
.page a{
    height: 24px;
    display: inline-block;
    line-height: 24px;
    border: 1px solid #cccccc;
    padding: 0 12px;
    margin: 0 2px;
}
.page .omit{
    display: inline-block;
    padding: 0 12px;
    margin: 0 2px;
}
.morePage{
    padding-left: 14px;
    display: inline-block;
    height: 24px;
    line-height: 24px;
}
.pageNum{
    width: 29px;
    padding: 0 3px;
    border: 1px solid #cccccc;
    height: 24px;
    line-height: 24px\9;
    margin-left: 4px;
    margin-right:8px;
}
.page_btn{
    width: 44px;
    height: 24px;
    line-height: 24px;
    background-color: #e8e8e8;
    border: 1px solid #cccccc;
    margin-left: 6px;
}

/*组件*/
.select{
    border: 1px solid #999;
    height: 22px;
    line-height: 22px;
    float: left;
    background-color: #ffffff;
    padding-left: 10px;
    padding-right: 20px;
    position: relative;
}
.select h3{
    font-size: 12px;
    font-weight: normal;
}
.select span{
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 20px;
}
.show_select{
    position: absolute;
    left: -1px;
    top: 22px;
    background-color: #ffffff;
    width: 100%;
    border: 1px solid #999;
    display: none;
}
.show_select li{
    padding-left: 10px;
}

/*商品介绍*/
.grey{
    background-color: #f0f0f0;
}
.userPosition{
    margin-top: 25px;
    margin-bottom: 15px;
}
.userPosition a{
    font-size: 12px;
    padding: 0 4px;
}
.userPosition a:hover{
    text-decoration: underline;
}
.userPosition em{
    font-style: normal;
}
.description_info{
    background-color: #ffffff;
}
.description{
    border: 1px solid #CCCCCC;

}
.description .leftArea{
    width: 309px;
}
.description .rightArea{
    width: 688px;
    border-left: 1px solid #CCCCCC;
}
/*图片展示*/
.description_img .big{
    display: table-cell;
    height: 340px;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
}
.description_img .big img{
    width: 309px;
}
.small{
    padding-left: 1px;
    width: 265px;
    margin: 0 auto;
}
.small li{
    float: left;
    margin-left: -1px;
}
.small img{
    width:62px;
    height: 65px;
    border: 1px solid #CCCCCC;
}
.small .active{
    border-color: #317ee7;
    position: relative;
}
.des_content{
    padding: 10px;
}
.des_content .des_content_title{
    font-size: 16px;
    font-weight: bold;
    line-height: 22px;
    padding: 13px 25px;
}
.des_content .dl{
    margin-bottom: 8px;
}
.des_content .dt{
    width: 75px;
    float: left;
    color: #666;
    text-indent: 17px;
    line-height: 25px;
}
.des_content .dd{
    padding-left: 75px;
}
.des_money{
    font-size: 18px;
    color: #f30;
}
.des_money i{
    font-style: normal;
    font-size: 12px;
}
.lowPrice{
    display: inline-block;
}
.lowPrice img{
    display: inline-block;
    height:25px;
    vertical-align: middle;
    padding-right: 12px;
}
/*送货*/
.des_position{
    background-color: #f2f2f2;
    padding: 15px 0;
}
.theGoods{
    line-height: 24px;
    padding-left: 15px;
}
.des_content .colorSelect{
    line-height: 35px;
}
.des_item{
    color: #666;
    padding: 9px 10px;
    border: 1px solid #CCCCCC;
    float: left;
    background-color: #ffffff;
    margin-right: 10px;
}
.des_item_active{
    border-color: #317ee7;
    color: #333333;
}
.des_item_sm{
    padding: 3px 7px;
    margin-bottom: 8px;

}
.des_content .des_select_more{
    line-height: 55px;
}
/*数量*/
.des_number{
    display: inline-block;
    border: 1px solid #b2b2b2;
    height: 25px;
    width: 83px;
    float: left;
}
.des_number div{
    height: 100%;
    float: left;
}
.des_content .des_select_num{
    line-height: 27px;
}
.reduction, .add{
    display: inline-block;
    text-align: center;
    width: 23px;
    height: 25px;
    color: #333333;
    background-color: lightgrey;
}
.reduction .reduction_text , .add .add_text{
    font-size: 18px;
    font-weight: bold;
    line-height: 25px;
    vertical-align: middle;
}
.des_input{
    display: inline-block;
    height: 24px;
    width: 37px;
    margin-left: -2px;
    border-left: 1px solid #b2b2b2;
    border-right: 1px solid #b2b2b2;
}
.des_input input{
    outline:none;
    border:0;
    width: 100%;
    height: 100%;
    line-height: 32px\9;
    text-align: center;
}
.limitBuy{
    line-height: 27px;
    float: left;
    padding-left: 12px;
    font-weight: bold;
    color: #656565
}
.limitBuy_num{
    font-style: normal;
    color: #fb7700;
    padding: 0 3px;
}
/*已选择*/
.des_select{
    font-weight: bold;
    margin: 22px 0 12px;
    text-indent: 17px;
}
.des_select span{
    color: #0479c9;
}
.shop_buy{
    width: 400px;
    margin: 20px auto;
}
.shopping_now , .add_cart{
    display: inline-block;
    width: 184px;
    height: 48px;
    border: 1px solid #CCCCCC;
    background-color: #f89406;
}
.shopping_now{
    margin-right: 24px;
}
.shopping_notes{
    color: #CCCCCC;
    text-indent: 17px;
}
.shop_buy .icon-cart{
    font-size: 22px;
    color: white;
    text-align: center;
    line-height: 44px;

}
/*产品介绍*/
.des_info .leftArea{
    width: 190px;
}
.des_info .rightArea{
    width: 790px;
}
.recommend{
    border: 1px solid #CCCCCC;
    background-color: #ffffff;
    padding-bottom: 15px;
    margin: 15px 0;
}
.recommend .title{
    height: 39px;
    border: 1px solid #CCCCCC;
    line-height: 39px;
    text-align: center;
    font-size: 14px;
    background-color: #f3f3f3;
}
.recommend .item{
    float: none;
    width: 100%;
}
/*详细介绍*/
.des_infoContent{
    background-color: #ffffff;
    margin-top: 15px;
}
.des_title{
    height: 39px;
    border: 1px solid #CCCCCC;
    position: relative;
}
.des_title li{
    float: left;
    width: 393px;
    font-size: 14px;
    line-height: 39px;
    text-align: center;
    background-color: #f3f3f3;
}
.des_line{
    border-right: 1px solid #CCCCCC;
    padding-left: 1px;
}
.des_title .active{
    background-color: #0479ca;
    color: #ffffff;
    font-weight: bold;
}
.des_title .icon:before{
    font-size: 14px;
    padding-right: 15px;
}
.des_detail .des_detail_parameter{
    border: 1px solid #CCCCCC;
    margin-top: -1px;
}
.des_detail_col{
    float: left;
    width: 33%;
    margin-top: 2px;
}
.des_detail_row p{
    padding: 5px 2em;
}
.des_detail .des_detail_pic{
    margin-top: 20px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
/*商品评价*/
.des_goods_comment{
    border: 1px solid #CCCCCC;
}
.des_comment_title{
    height: 38px;
    line-height: 38px;
    font-size: 14px;
    color: #656565;
    padding-left: 10px;
    margin-top: 10px;
}
.score_box{
    padding-left: 10px;
    height: 120px;
}
.score{
    float: left;
    margin-right: 20px;
}
.score em{
    font-size: 16px;
    font-style: normal;
    color: #65657d;
}
.score span{
    font-size: 50px;
    color: #ff8f00;
}
.score_text{
    width: 452px;
    float: left;
}
.score_speed{
    float: left;
    width: 450px;
    line-height: 16px;
    font-size: 12px;
    margin-top: 12px;
    position: relative;
}
.score_speed_text{
    width: 100%;
    height: 16px;
    color: #ffffff;
    background-color: #bdbdbd;
    overflow: hidden;
    margin-bottom: 10px;
}
.score_speed_text li{
    display: inline-block;
    width: 19.3%;
}
.score_number{
    position: absolute;
    left: 94%;/*4.7*2*/
    top: -20px;
    width: 25px;
    height: 14px;
    background-color: #7f7f7f;
    text-align: center;
    color: #ffffff;
}
.score_number i{
    position: absolute;
    left: 8px;
    top: 14px;
    width: 0;
    height: 0;
    border: 4px solid transparent;
    border-top-color: #7f7f7f;
}
/*满意切换*/
.review_table{
    height: 32px;
    background-color: #f2f2f2;
}
.review{
    line-height: 32px;
    height: 100%;
    padding-left: 20px;
}
.review li{
    float: left;
    height: 100%;
    margin-right: 40px;
}
.review li a{
    display: inline-block;
    height: 30px;
    padding: 0 5px;
}
.review .active{
    color: #317de6;
    font-weight: bold;
    border-bottom: 2px solid #317de6;
    margin-bottom: -2px;
}
.review_userHead{
    width: 170px;
}
.review_list{
    padding-top: 18px;
}
.review_user{
    width: 60px;
    text-align: center;
    padding-left: 40px;
}
.review_user img{
    width: 60px;
    height: 60px;
}
.review_user p{
    line-height: 20px;
}
.review_cont{
    width: 50%;
    display: inline-block;
}
.star_text{
    font-weight: bold;
    padding-left: 10px;
}
.review_top{
    height: 24px;
    padding-top: 5px;
}
.review_cont p{
    line-height: 30px;
}
.review_time {
    width: 224px;
    text-align: center;
    margin-top: 5px;
}
.review_line{
    border-bottom: 1px solid #CCCCCC;
    width: 710px;
    margin: 15px auto;
    color: #CCCCCC;
}
.des_comment .page{
    margin: 30px 0;
}
/*购物车*/
.logoBar .cart_logo{
    padding-left: 0;
}
.logoBar .logo a{
    float: left;
}
.logoBar .cart_title{
    display: inline-block;
    float: left;
    line-height: 60px;
    padding-left: 10px;
    font-size: 18px;
    color: #ffffff;
}
.logoBar .cart_shopCart{
    margin-right: 10px;
}
.cart_null{
    width: 60%;
    margin: 100px auto;
}
.cart_null .cart_img{
    height: 49px;
    line-height: 49px;
    font-size: 40px;
    color: #0e90d2;
    opacity: 0.6;
    float: left;
    margin-left: 200px;
}
.cart_null .cart_null_text{
    float: left;
    margin-left: 20px;
}
.cart_null .cart_null_text p{
    font-size: 14px;
    font-family: "Courier New";
    padding-bottom: 4px;
}
.cart_null .cart_null_btn{
    display: inline-block;
    width: 40px;
    height: 26px;
    line-height: 26px;
    border-radius: 5px;
    background-color: #0e90d2;
    color: #ffffff;
    text-align: center;
    opacity: 0.8;
}
.cart_null .cart_null_btn:hover{
    opacity: 1;
}
.cart_null .cart_null_text .goingShopping{
    color: #5aa1fe;
    padding-left: 6px;
}
.cart_null .cart_null_text .goingShopping:hover{
    color: #0e90d2;
}
.guess_you .products_title{
    border-bottom: none;
}
.guess_you .products_title p{
    display: inline-block;
    font-weight: normal;
    height: 34px;
    line-height: 34px;
    margin-right: 10px;
}
.guess_you .products_title .active{
    border-bottom: 2px solid #096dba;
}
.guess_you .item{
    width: 24.9%;
    border: 1px dashed #CCCCCC;
    margin-left: -1px;
}
.guess_you .item:hover{
    border:1px solid #0e90d2;
    z-index: 1;
}
.guess_you p{
    text-align: center;
}
.guess_you .add_cart{
    width: 120px;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    text-align: center;
    background-color: #ffffff;
    margin-top: 10px;
    margin-bottom: 15px;
    color: #0e90d2;
}
.guess_you .add_cart:hover{
    text-decoration: none;
    color: #ffffff;
    background-color: #0e90d2;
}
/*购物车清单*/
.cart_list{
    margin: 50px auto;
}
.cart_list .cart_list_title {
    height: 40px;;
    background-color: #e6e6e6;
    border: 1px solid #CCCCCC;
}
.cart_list_title p{
    display: inline-block;
    width: 80px;
    padding-left: 5px;
    text-align: center;
    line-height: 42px;
    color: #656565;
}
.cart_list .shop_title{
    width: 470px;
    text-align: left;
    padding-left: 82px;

}
.cart_list .checkbox_h{
    display: inline-block;
    width: 45px;
    height: 18px;
    line-height: 18px;
}
.cart_list .checkbox_b{
    text-align: left;
    margin-left: -30px;
}
.checkbox_h input{
    vertical-align: middle;
    margin-right: 8px;
}
.cart_list .cart_list_content{
    margin: 20px auto;
    width: 100%;
    background-color: rgb(255,244,232);
    padding: 15px 0;
    border: 1px solid #e1e1e8;
}
.cart_list_content p{
    display: inline-block;
    width: 80px;
    height: 100%;
    padding-left: 5px;
    color: #656565;
    text-align: center;
    vertical-align: top;
}
.cart_list_content .shop_text{
    display: inline-block;
    width: 552px;
    word-break: break-all;
}
.shop_text img{
    width: 60px;
    height: 60px;
}
.cart_list_content .shop_text_c{
    display: inline-block;
    margin-left: 15px;
    width: 470px;
    float: left;
    text-align: left;
}
.shop_text_img{
    display: inline-block;
    float: left;
}
.cart_list_content .dl{
    display: inline-block;
    vertical-align: top;
    margin-top: -5px;
}
.sure{
    text-align: center;
}
.cart_list .cart_list_foot {
    height: 40px;;
    border: 1px solid #CCCCCC;
}
.cart_list_foot .leftArea{
}
.cart_list_foot .leftArea p{
    display: inline-block;
    padding-left: 23px;
    line-height: 40px;
}
.cart_list_foot .rightArea{
}
.cart_list_foot .rightArea p{
    display: inline-block;
    padding-left: 23px;
    line-height: 40px;
}
.cart_list_foot .total i{
    font-style: normal;
    font-size: 16px;
    font-weight: bold;
    color: rgb(228,57,60);
    padding-right: 20px;
}
.cart_list_foot .account{
    display: inline-block;
    width: 100px;
    height: 40px;
    line-height: 40px;
    background-color: rgb(230,67,70);
    text-align: center;
    margin-right: -1px;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
}
.cart_list_foot .shop_num{
    color: rgb(228,57,60);
    font-weight: bold;
}
.cart_list_row .list_title{
    font-size: 24px;
    font-weight: normal;
    color: #0e90d2;
    border-bottom: 2px solid #CCCCCC;

}
.cart_list_row .list_col{
    display: inline-block;
    width: 33%;
    height: 50px;
    margin: 20px auto;
    font-size: 18px;

}
.list_col p{
    display: inline-block;
    line-height: 50px;
    width: 290px;
    text-align: center;
}
.list_col .line{
    display: inline-block;
    position: relative;
    float: right;
    left: -40px;
    top: 0;

}
.list_col .line1 ,
.list_col .line2 {
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    border: 25px solid transparent;

}
.list_col .line1{
    border-left: 30px solid #0e90d2;
}
.list_col .line2{
    border-left: 30px solid #CCCCCC;
}
.list_col .line3{
    width: 0;
    height: 0;
    border: 16px solid transparent;
    border-left: 20px solid #ffffff;
    position: absolute;
    top: 9px;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
}

.cart_list_row .active{
    color: #ffffff;
    background-color: #0e90d2;
}
.cart_list_row .sure_list{
    margin-left: -3px;
}
.checkTheOrder h3{
    font-size: 16px;
    font-weight: normal;
}
.order_box{
    border: 1px solid #CCCCCC;
    margin: 10px 0;
}
.checkAddress .leftArea{
    font-size: 14px;
    font-weight: bold;
    margin: 15px;

}
.checkAddress .rightArea{
    margin: 15px;
}
.checkAddress .rightArea a{
    color: #003399;
}
.checkAddress .rightArea a:hover{
    color: #dd1144;
}
.checkAddress .name,
.checkAddress .address,
.checkAddress .phone ,
.checkAddress .edit{
    float: none;
    display: inline;
    padding-right: 8px;
}
.checkAddress .edit {
    float: right;
    margin-right: 20px;
}
.edit a{
    color: #003399;
}
 .edit a:hover{
     color: #dd1144;
}
.info_detail{
    width: 92%;
    margin: 0 auto;
}
.order_box .hr{
    margin: 20px 15px;
    border-bottom: 1px solid #CCCCCC;
}
.pay_way .pay_title{
    font-size: 14px;
    font-weight: bold;
    margin: 15px;
}
.pay_way input{
    margin-left: 40px;
}